
<div class="row">
        <div class="col-lg-3 col-sm-3 col-md-3 col-xs-0"></div>
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
<div style="padding-top:65px;text-align:center;font-weight:bold;font-size:16px;">
                <div style="color:red;"><h4>Welcom to SG NetBanking</h4></div>
                <div id="puchaseInfo"  style="margin-top:20px;">
                                <ul class="list-group">
                                                <li class="list-group-item" style="border:none;margin-top:20px;">Amount: $250</li>
                                                <li class="list-group-item" style="border:none;">Merchant: XXXX</li>
                                </ul>
                                <div style="margin-top:50px;">
                                                <button style="cursor:pointer" [disabled]="showSuccessMessage" type="button" class="btn btn-success" (click)="makePayment()">Confirm</button>
                                </div>
                </div>
                <div  *ngIf="showSuccessMessage" id="successMsg" class="alert alert-success" role="alert" style="margin-top:50px;">
                                Payment has been succeeded! You will be redirected to merchant site shortly!<br/><br/>
                                Please wait..
                </div>
</div>   
</div>
</div>